/proxecto2/www/wikiiaw
proxecto2/01apt-cacher-ng
proxecto3/01apt-cacher-ng
proxecto4/01apt-cacher-ng
redes\ escenario\ 1/01apt-cacher-ng
proxecto1/.vagrant
proxecto2/.vagrant
proxecto3/.vagrant
proxecto4/.vagrant
redes\ escenario\ 1/.vagrant
redes\ escenario\ 2/.vagrant
redes\ escenario\ 2/www/html/wikiiaw
prueba\ ngnix/.vagrant
prueba\ ngnix/www/wikiiaw
kali/.vagrant